.community-drops-exercise {
    border: none;
    color: var(--text-color-darker);
    font-weight: 700;
    text-decoration: underline;
}

p, ul {
    color: var(--text-color);
    font-family: var(--secondary-font);
}

.exercise-page {
    display: grid;

    h1 {
        padding: 1rem 1rem 0;
    }
    p {
        padding: 0 1rem 1rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 70ch;
        
        li {
            list-style-type: none;
            margin: 1rem;
        }
    }


    .exercise-image {
        grid-row: 1;
        height: 18rem;
        width: 100%;
        object-fit: cover;
    }
    .flex-container {
        grid-row: 2;
    }
    .community-drops-exercise {
        margin-top: 1rem;
    }

    @media (width > 45rem) {
        h1, 
        .flex-container {
            margin: 0 auto;
        }
    }
}

